*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: 90vh min-content 40vw repeat(4, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

body {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #333; }

.heading-1 {
  font-size: 4rem;
  font-weight: 300;
  color: #f7f7f7;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 2px;
  margin-bottom: 2rem; }
  .heading-1--main, .heading-1--sub {
    display: block; }

.heading-2 {
  font-size: 3rem;
  color: #f7f7f7;
  text-transform: uppercase;
  font-weight: 300; }
  .heading-2:after {
    display: block;
    content: "";
    height: 2px;
    background-color: #c69963;
    width: 100px;
    margin: 0 auto;
    margin-top: 3rem; }
  .heading-2--dark {
    color: #333; }

.heading-5 {
  font-size: 1.9rem;
  font-weight: 400; }

.row {
  max-width: 1140px;
  margin: 0 auto; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.7rem;
  border: 1px solid #c69963;
  padding: 1rem 3rem;
  text-decoration: none;
  border-radius: 3px;
  transition: all .3s; }
  .btn:link:hover, .btn:link:active, .btn:visited:hover, .btn:visited:active {
    border: 1px solid #B28451;
    background-color: #B28451; }

.btn--full:link, .btn--full:visited {
  background-color: #c69963;
  color: #fff;
  margin-right: 1.5rem; }

.btn--ghost:link, .btn--ghost:visited {
  color: #c69963; }

.btn--ghost:hover, .btn--ghost:active {
  color: #fff; }

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }

.feature-box {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .feature-box__icon {
    font-size: 4.5rem;
    color: #c69963;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature-box__text {
    font-size: 1.7rem; }

.header {
  grid-column: full-start / full-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.navigation__logo {
  height: 3rem;
  float: left;
  margin-top: 3rem; }

.navigation__list {
  float: right;
  list-style: none;
  margin-top: 3rem; }

.navigation__item {
  display: inline-block;
  margin-left: 2rem; }

.navigation__link:link, .navigation__link:visited {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 1.5rem 0;
  border-bottom: 2px solid transparent;
  transition: all .3s; }

.navigation__link:hover, .navigation__link:active {
  border-bottom: 2px solid #c69963; }

.section-features {
  grid-column: center-start / center-end;
  padding: 10rem 0; }
