.header {
    grid-column: full-start / full-end;
    background-image: linear-gradient(rgba($color-black, 0.6), rgba($color-black, 0.6)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    &__text-box {
        position: absolute;
        width: 1140px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond(bp-largest) {
            width: 100%;
            padding: 0 2%;
        }

        @include respond(bp-medium) {
            padding: 0 4%;
        }
    }
}