.navigation {
    &__logo {
        height: 3rem;
        float: left;
        margin-top: 3rem;
    }

    &__list {
        float: right;
        list-style: none;
        margin-top: 3rem;
    }

    &__item {
        display: inline-block;
        margin-left: 2rem;
    }

    &__link {

        &:link,
        &:visited {
            font-size: 2rem;
            text-decoration: none;
            text-transform: uppercase;
            color: $color-white;
            padding: 1.5rem 0;
            border-bottom: 2px solid transparent;
            transition: all 0.3s;
        }

        &:hover,
        &:active {
            border-bottom: 2px solid $color-primary;
        }
    }
}

// Sticky navigation

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba($color-white, 0.98);
    box-shadow: 0 2px 2px $color-grey-light-2;
    z-index: 9999;

    .navigation__list {
        margin-top: 1rem;
    }

    .navigation__list li a:link,
    .navigation__list li a:visited {
        padding: 1rem 0;
        color: $color-grey-dark-1;
    }

    .navigation__logo {
        display: none;
    }

    .navigation__logo--black {
        display: block;
    }
}

.navigation {
    padding-bottom: 0.8rem;
}

.navigation__logo--black {
    height: 2.5rem;
    width: auto;
    float: left;
    margin-top: 1.2rem;
    display: none;
}