.navigation {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;

  &__logo {
    height: 3rem;
  }

  &__logo--black {
    height: 2rem;
    display: none;
  }

  &__list {
    list-style: none;
    display: flex;

    @include respond(bp-small) {
      position: absolute;
      top: 6rem;
      left: 0;
      z-index: 9999;
      text-align: center;
      width: 100%;
      display: none;
    }
  }

  &__item {
    margin-left: 2rem;

    @include respond(bp-small) {
      display: block;
      margin-left: 0;
    }
  }

  &__link {
    &:link,
    &:visited {
      font-size: 2rem;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-white;
      padding: 1.5rem 0;
      border-bottom: 2px solid transparent;
      transition: all 0.3s;

      @include respond(bp-small) {
        display: block;
        border-bottom: 1px solid $color-grey-dark-2;
      }
    }

    &:hover,
    &:active {
      border-bottom: 2px solid $color-primary;

      @include respond(bp-small) {
        border-bottom: 1px solid $color-grey-dark-2;
      }
    }
  }

  /* Mobile navigation*/
  &__checkbox {
    display: none;
  }

  &__icon {
    position: absolute;
    right: 3rem;
    cursor: pointer;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-white;
      display: none;

      @include respond(bp-small) {
        display: block;
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__checkbox:checked + &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

// Sticky navigation
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: rgba($color-white, 0.99);
  box-shadow: 0 2px 2px $color-grey-light-2;
  z-index: 9999;

  .navigation {
    &__list {
      top: 4rem;

      @include respond(bp-small) {
        background: #fff;
      }
    }

    &__list li a:link,
    &__list li a:visited {
      padding: 0.7rem 0;
      color: $color-grey-dark-1;

      @include respond(bp-small) {
        padding: 0.5rem 0;
      }
    }

    &__logo {
      display: none;
    }

    &__logo--black {
      display: block;
    }

    &__icon {
      &,
      &::before,
      &::after {
        background-color: $color-black;
      }
    }
  }
}

.active {
  display: block;
}
