.testimonials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;

    &__item {
        color: $color-grey-light-1;
        font-size: 1.8rem;
    }

    &__blockquote {
        padding: 1rem;
        font-style: italic;
        line-height: 145%;
        position: relative;
        margin-top: 4rem;

        &:before {
            content: "\201C";
            font-size: 7rem;
            display: block;
            position: absolute;
            top: -5px;
            left: -5px;
        }
    }

    &__cite {
        margin-top: 2.5rem;
        display: block;
    }

    &__img {
        height: 4.5rem;
        border-radius: 50%;
        margin-right: 1rem;
        vertical-align: middle;
    }
}