.section-features {
    grid-column: center-start / center-end;
    padding: 10rem 0;

    @include respond(bp-medium) {
        padding: 7rem 0;
    }
}

.section-testimonials {
    grid-column: full-start / full-end;
    background-image: linear-gradient(rgba($color-black, 0.7), rgba($color-black, 0.7)), url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 8rem 8vw;
}

.section-rooms {
    grid-column: center-start / center-end;
    margin: 10rem 0;

    @include respond(bp-medium) {
        margin-top: 7rem;
        margin-bottom: 7rem;
    }
}